/************* HTML *************/
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
/************* BODY *************/
body{
    margin:0;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(39, 85, 97);
}
/************* FOOTER *************/
footer{
    background-color: black;
    color: white;
    margin:0;
    font-family: 'Fjalla One', sans-serif;
}
/************* TOP MENU *************/
#topMenu{
    background-color: rgb(36, 35, 35);
    display: flex;
    margin: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
}
#topMenu a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#topMenu a:first-child{
    margin-right: auto;
}
#topMenu a:last-child{
    padding-right: 10%;
}
#topMenu a:hover {
    background: rgb(135, 158, 165);
    color: black;
    text-overflow: clip;
    text-decoration: none;
}
/************* Main Section *************/
.mainSection{
    display: flex;
    width: fit-content;
    background-color: rgb(47, 132, 153);
    padding-top: 50px;
}
.main_image{
    margin:unset;
    display: flex;
    height: 17vh;
}
/************* Who am I *************/
.whoami{
    display: flex;
    background-color: rgb(99, 152, 165);
    width: 100vh;
}
.whoAmIImage{
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
    max-width: 30vh;
    max-height: 70vh;
}
.whoAmIText{
    text-align: justify;
    text-indent: 15px;
    padding-right: 15px;
    padding-bottom: 0%;
}
ol{
    text-align: justify;
    padding: 10px;
    padding-top: 0%;
}
h4{
    color: white
}
/************* Technologies *************/
.technologies{
    display: flex;
    background-color:rgb(216, 204, 183);
    width: 100vh;
}
.projectImage{
    width: 15vw;
    height: 15vw;
    padding-left: 15px;
    max-width: 15vh;
    max-height: 15vh;
}
/************* Carrer *************/
.carrer{
    display: flex;
    background-color: rgb(99, 152, 165);;
    width: 100vh;
}
.carrerImage{
    max-width: 20vh;
    transform: rotate(270deg);
    vertical-align: middle;
}

/************* Education *************/
.education{
    display: flex;
    background-color:rgb(216, 204, 183);
    width: 100vh;
    text-align: justify;
    color: rgb(47, 132, 153);
}
.educationImage{
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 15vh;
    max-height: 15vh;
}

/************* Contact *************/
.contact{
    display: flex;
    background-color:rgb(99, 152, 165);
    width: 100vh;
    color: white;
}
.contactImage{
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 15px;
    max-width: 15vh;
    max-height: 15vh;
}

/************* Commom *************/
.hr {
    border-top: 2px solid;
    color: rgb(47, 132, 153);
    margin-top: 100px;
    max-width: 200px;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.centralize{
    margin: auto;
    text-align: center;
}
