/************* HTML *************/
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
/************* BODY *************/
body{
    margin:0;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(39, 85, 97);
}
/************* FOOTER *************/
footer{
    background-color: black;
    color: white;
    margin:0;
    font-family: 'Fjalla One', sans-serif;
}
/************* TOP MENU *************/
#topMenu{
    background-color: rgb(36, 35, 35);
    display: flex;
    margin: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
    height: 50px;
}
#topMenu a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#topMenu a:first-child{
    margin-right: auto;
}
#topMenu a:last-child{
    padding-right: 10%;
}
#topMenu a:hover {
    background: rgb(135, 158, 165);
    color: black;
    text-overflow: clip;
    text-decoration: none;
}
/************* Main Section *************/
.mainSection{
    display: flex;
    width: 60vw;
    background-color: rgb(47, 132, 153);
    padding-top: 50px;
    font-size: 1vw;
}
.main_image{
    margin:unset;
    display: flex;
    /* height: 17vh; */
    width: 60vw;
    align-items: center;
}
/************* About me*************/
.aboutMe{
    display: flex;
    background-color: rgb(99, 152, 165);
    width: 60vw;
}
.aboutMeImage{
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
    max-width: 30vw;
    max-height: 70vh;
}
.aboutMeText{
    text-align: justify;
    text-indent: 15px;
    padding-right: 15px;
    padding-bottom: 0%;
}
ol{
    text-align: justify;
    padding: 10px;
    padding-top: 0%;
}
h4{
    color: white
}
/************* Technologies *************/
.technologies{
    display: flex;
    background-color:rgb(216, 204, 183);
    width: 60vw;
}
.projectImage{
    width: 15vw;
    height: 15vw;
    padding-left: 15px;
    max-width: 15vh;
    max-height: 15vh;
}
/************* Carrer *************/
.carrer{
    display: flex;
    background-color: rgb(99, 152, 165);;
    width: 60vw;
}
.carrerImage{
    max-width: 20vh;
    transform: rotate(270deg);
    vertical-align: middle;
}

/************* Education *************/
.education{
    display: flex;
    background-color:rgb(216, 204, 183);
    width: 60vw;
    text-align: justify;
    color: rgb(47, 132, 153);
}
.educationImage{
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 12vh;
    max-height: 12vh;
}

/************* Commom *************/
.hr {
    border-top: 2px solid;
    color: rgb(47, 132, 153);
    margin-top: 100px;
    max-width: 200px;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.centralize{
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 768px){
    /************* HTML *************/
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 50px;
    }
    /************* BODY *************/
    body{
        margin:0;
        font-family: 'Fjalla One', sans-serif;
        background-color: rgb(39, 85, 97);
    }
    /************* FOOTER *************/
    footer{
        background-color: black;
        color: white;
        margin:0;
        font-family: 'Fjalla One', sans-serif;
    }
    #topMenu{
        background-color: rgb(36, 35, 35);
        display: flex;
        margin: 0;
        top: 0;
        position: fixed;
        width: 100vw;
        z-index: 10;
        height: 50px;
        font-size: small;
    }
    #topMenu a{
        color: aliceblue;
        text-decoration: none;
        display: block;
        padding: 15px;
    }
    #topMenu a:first-child{
        margin-right: auto;
    }
    #topMenu a:last-child{
        padding-right: 10%;
    }
    #topMenu a:hover {
        background: rgb(135, 158, 165);
        color: black;
        text-overflow: clip;
        text-decoration: none;
    }
    /************* Main Section *************/
    .mainSection{
        display: flex;
        width: 100vw;
        background-color: rgb(47, 132, 153);
        padding-top: 50px;
        font-size: small;
    }
    .main_image{
        margin:unset;
        display: flex;
        width: 100vw;
        align-items: center;
    }
    /************* About me*************/
    .aboutMe{
        display: flex;
        background-color: rgb(99, 152, 165);
        width: 100vw;
        font-size: 3vw;
    }
    .aboutMeImage{
        display: block;
        width: auto;
        height: auto;
        padding: 15px;
        max-width: 30vw;
        max-height: 70vh;
    }
    .aboutMeText{
        text-align: justify;
        text-indent: 15px;
        padding-right: 15px;
        padding-bottom: 0%;
    }
    ol{
        text-align: justify;
        padding: 10px;
        padding-top: 0%;
    }
    h4{
        color: white
    }
    /************* Technologies *************/
    .technologies{
        display: flex;
        background-color:rgb(216, 204, 183);
        width: 100vw;
        font-size: 3vw;
    }
    .projectImage{
        width: 15vw;
        height: 15vw;
        padding-left: 15px;
        max-height: 15vh;
        max-width: 25vw;
    }
    /************* Carrer *************/
    .carrer{
        display: flex;
        background-color: rgb(99, 152, 165);;
        width: 100vw;
        font-size: 3vw;
    }
    .carrerImage{
        max-width: 20vh;
        transform: rotate(270deg);
        vertical-align: middle;
        max-width: 25vw;
    }
    
    /************* Education *************/
    .education{
        display: flex;
        background-color:rgb(216, 204, 183);
        width: 100vw;
        text-align: justify;
        color: rgb(47, 132, 153);
        font-size: 3vw;
    }
    .educationImage{
        padding-left: 15px;
        padding-bottom: 15px;
        max-width: 20vw;
        max-height: 12vh;
    }
    
    /************* Commom *************/
    .hr {
        border-top: 2px solid;
        color: rgb(47, 132, 153);
        margin-top: 100px;
        max-width: 200px;
        margin: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .centralize{
        margin: auto;
        text-align: center;
    }
}
